name: Build Runner Images
run-name: ${{ format('{0} - {1}', github.event.action, github.event.client_payload.pr_title) }}

on:
  repository_dispatch:
    types:
      - trigger-ubuntu2204-build
      - trigger-ubuntu2404-build
      - trigger-windows2019-build
      - trigger-windows2022-build
      - trigger-windows2025-build

defaults:
  run:
    shell: pwsh

jobs:
  docker-build:
    runs-on: ${{ contains(github.event.action, 'ubuntu') && 'ubuntu-latest' || 'windows-2025' }}

    steps:
      - run: |
          $ImageType = ("${{ github.event.action }}" -split "-")[1]
          "IMAGE_TYPE=$ImageType" | Out-File -Append -FilePath $env:GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.client_payload.custom_repo }}
          ref: ${{ github.event.client_payload.custom_repo_commit_hash }}

      - name: Disk space before pruning
        run: |
          echo "::group::Disk space before pruning"
          switch ("${{ runner.os }}") {
            "Linux" {
              df -h
            }
            "Windows" {
              Get-PSDrive -PSProvider FileSystem
            }
          }
          echo "::endgroup::"

      - name: Setup `packer`
        uses: hashicorp/setup-packer@v3.1.0
        with:
          # See https://releases.hashicorp.com/packer/
          version: '1.13.1'

      - name: Pre-configure Packer
        id: preconfig
        run: |
          switch -Wildcard ("${{ github.event.action }}") {
            "ubuntu*" {
              $imageOs = "ubuntu"
            }
            "*windows*" {
              $imageOs = "windows"
            }
          }

          echo "::group::Pre-configure Packer"
          & {
            echo "image_os=${imageOs}";
          } | tee -a "$env:GITHUB_OUTPUT"
          echo "::endgroup::"

      - name: Build Image
        run: |
          Import-Module .\helpers\GenerateResourcesAndImage.ps1

          echo "::group::Generate Image"
          GenerateResourcesAndImage -DockerImageSource -ImageType "${env:IMAGE_TYPE}" -OnError "abort"
          echo "::endgroup::"

          $readme = Join-Path "images" "${{ steps.preconfig.outputs.image_os }}" "${env:IMAGE_TYPE}-Readme.md"
          Get-Content -Path "$readme" | Out-File -Append -FilePath "$env:GITHUB_STEP_SUMMARY"

      - if: ${{ !cancelled() }}
        shell: bash
        run: |
          CONTAINER_ID="$(docker ps --last 1 --format '{{ .ID }}')"
          docker inspect "${CONTAINER_ID}"
          docker exec "${CONTAINER_ID}" mount
          docker exec "${CONTAINER_ID}" id -a
          docker exec "${CONTAINER_ID}" ls -al /
          docker exec "${CONTAINER_ID}" ls -al /tmp
          docker exec "${CONTAINER_ID}" ls -al /var
          docker exec "${CONTAINER_ID}" ls -al /var/tmp

      - name: Upload generated reports
        uses: actions/upload-artifact@v4
        with:
          name: reports-${env:IMAGE_TYPE}
          path: |
            images/${{ steps.preconfig.outputs.image_os }}/${env:IMAGE_TYPE}-Readme.md
            images/${{ steps.preconfig.outputs.image_os }}/software-report.json
